.DS_Store
/.idea
/.venv*
/dist*
/build
*.pyc
*.egg-info
*.sln
*.suo
*.pyproj
services/winscp.rnd
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
f.01
.vscode/settings.json
funcs.py
.pytest_cache
.pytest_results
.coverage
.tox
