.DS_Store
/.idea
/.venv*
/dist*
/docs/_build
/build
*.pyc
*.egg-info
*.sln
*.suo
*.pyproj
services/winscp.rnd
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
udf.py
.pytest_cache
.pytest_results
.coverage*
coverage.xml
.tox
.ruff_cache
