/.idea
/.venv*
*.pyc
*.confc
.DS_Store
mqttwarn.conf
*.log
*.conf
prowlpy.py
pushbullet.py
mqttwarn.ini
run.sh
pynsca.py
pastebin.py
*.sln
*.suo
*.pyproj
services/winscp.rnd
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
f.01
.vscode/settings.json
.vscode/launch.json
funcs.py
