# MQTT Broker
broker = 'localhost'
port = 1883
username = None
password = None
lwt = 'lwt/mqtt2pushover'

logfile  = 'mqtt2pushover.log'
loglevel = 'DEBUG'

# Pushover.net user/app keys
pushoverkey = {
    'user1'   : ['www', 'xxx'],
    'user2'   : ['yyy', 'zzz']
}

# Map MQTT topics (wildcards allowed!) to Pushover.net app keys
# (also called API Token/Key)
topickey = {
    'notification/info'   : ['user1'],
    'notification/warn'   : ['user2'],
    'notification/error'  : ['user1', 'user2']
}

topictitle = {
    'notification/info'   : 'Info',
    'notification/warn'   : 'Warning',
    'notification/error'  : 'Error'
}

topicpriority = {
    'notification/info'   : -1,
    'notification/warn'   : 0,
    'notification/error'  : 1
}


