# Logging
logfile  = 'mqtt2pushover.log'
loglevel = 'DEBUG'
logformat = '%(asctime)-15s %(message)s'

# MQTT Broker
broker = 'localhost'
port = 1883
username = None
password = None
lwt = 'lwt/mqtt2pushover'

# Pushover.net user/app keys
pushoveruser = {
    'nagios'     : ['userkey1', 'appkey1'],
    'alerts'     : ['userkey2', 'appkey2'],
    'tracking'   : ['userkey1', 'appkey2'],
    'extraphone' : ['userkey2', 'appkey3'],
}

# MQTT topic -> Pushover.net user
topicuser = {
    'monitoring/icinga/#'   : ['nagios'],
    'notification/warn'     : ['alerts'],
    'owntracks/jpm/+'       : ['tracking', 'extraphone']
}

# MQTT topic -> notification title (default: None if not configured, meaning
# the title is whatever is specified on the application page)
topictitle = {
    'monitoring/icinga/#'   : 'Info',
    'owntracks/jpm/#'       : 'Info',
    'notification/warn'     : 'Warning',
    'notification/error'    : 'Error'
}

# MQTT topic -> notification priority (default: -1 if not configured here)
topicpriority = {
    'notification/info'   : -1,
    'notification/warn'   : 0,
    'notification/error'  : 1
}


