{#
    Hiveeyes alert template
#}
Alarm from beehive "{{node}}".
{{description}}

{% print '-' * 42 %}

Network..............: {{ network }}
Gateway..............: {{ gateway }}
Node.................: {{ node }}
Timestamp UTC........: {{ _dtiso }}
Current data.........: {{ pformat(history['current'], width=120) }}
Previous data........: {{ pformat(history['previous'], width=120) }}
{% print '-' * 42 %}

Current fragment.....: {{ pformat(fragments['current'], width=120) }}
Previous fragment....: {{ pformat(fragments['previous'], width=120) }}
Original payload.....: {{ payload }}
{% print '-' * 42 %}

Grafana dashboard....: https://swarm.hiveeyes.org/grafana/dashboard/db/{{ dashboard }}
