name: Tests
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10", "3.11", "3.12-dev"]
        exclude:

          # Breaks on building `winsdk`
          - os: "windows-latest"
            python-version: "3.6"

          # Takes ages on building `winsdk`
          - os: "windows-latest"
            python-version: "3.12-dev"
    env:
      OS: ${{ matrix.os }}
      PYTHON: ${{ matrix.python-version }}

    name: Python ${{ matrix.python-version }} on OS ${{ matrix.os }}
    steps:

    - name: Acquire sources
      uses: actions/checkout@v3

    # https://github.com/docker-practice/actions-setup-docker
    # - name: Install Docker
    #   if: runner.os == 'Linux'
    #   uses: docker-practice/actions-setup-docker@master

    - name: Display Docker version
      if: runner.os == 'Linux'
      run: |
        docker version

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        architecture: x64
        cache: 'pip'
        cache-dependency-path: 'setup.py'

    - name: Setup project
      run: |
        # Install package in editable mode.
        pip install --editable=.[test,develop]

    - name: Check code style
      if: matrix.python-version != '3.6'
      run: |
        poe check-style

    - name: Run tests
      run: |
        pytest

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        flags: unittests
        env_vars: OS,PYTHON
        name: codecov-umbrella
        fail_ci_if_error: false
